*{
    /* box-sizing: border-box !important; */
    /* border: 1px solid red; */
}
p{
    font-size: 14pt;
}
.center-text{
    text-align: center;
}
.p-2{
    padding: 2em;
}
.p-5{
    padding: 4em;
}

.status{
    background-color: rgba(200,200,200,.4);
    border-radius: 30px;
    padding: .2em 1em .2em 1em;
}


.product{
    cursor: pointer;
    transition: all 300ms linear;
    margin-top: 3em;
    position: relative;
    border-right: 1px solid rgba(0,0,0,.2);
    /* border-radius: 30%; */
}
:nth-of-type(4n){
    border-right: 0;
}

.product:hover{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.4);
    
}
.product .caption{
    padding-top: 1em;
    background: #fff;
    top: 0;
    transition: top 300ms linear;
}
.product:hover .caption{
    transition: top 300ms linear;
    background: #fff;
    position: relative;
    top: -100px;
    /* border-top: 2px solid tomato;
    box-shadow: 0 0 10px rgba(0,0,0,.4); */
}

.product .caption span{
    display: flex;
    justify-content: space-around;
    width: 100px;
    margin: 0 auto;
    position: relative;
}

.product .caption span i{
    font-size: 12pt;
    border: 1px solid red;
}
#product-section{
    padding: 3em;
}

#product-section .heading{
    font-weight: 800;
    margin-top: 0;
    text-transform: uppercase;
    color: #555555;
}

.fav-button{
    z-index: 100;
    position: absolute;
    top: 1em;
    right: 1em;
    color: red;
}

.top-social{
    display: flex;
    justify-content: space-between;
    background: #555555;
}

.top-social .right{
    color: #fff;
    font-weight: 700;
    padding-right: 1em;
}

.top-social .socials{
    padding-left: 2em;
}

footer{
    background-image: linear-gradient(#333 20%,#042825 80%);
    padding: 3em;

}

footer .col ul{
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 2em;
}
footer .col ul li{
    display: block !important;
    list-style: none;
    color: #fff;
    font-weight: 700;
    position: relative;
    margin-top: .3em;
}

footer .col ul li::after{
    content: '';
    position: absolute;
    top: 102%;
    left: 0;
    background: white;
    width: 0%;
    height: 3px;
    transition: width 400ms linear;
}

footer .col ul li:hover::after{
    width: 50%;
}

footer .col ul li a{
    color: #fff;
    font-size: 12pt;
    font-weight: 400;
    color: #9e9e9e;
}

footer .col ul li a:hover{
    color: #ccc;
}

footer .link-heading{
    font-size: 16pt;
    font-weight: 700;
}

.btn-rounded{
    border-radius: 1em;
}

.dashboard-container{
    /* background: #f9f9f9; */
    min-height: 100vh;;
    position: relative;
}
.dashboard-container::after{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.4)
}

.testimonial{
    margin-top: 1.5em;
}

.testimonial > div{
    text-align: center;
}

.testimonial h6{
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: .5em auto;
}

.testimonial-section img{
    border-radius: 10%;
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 200px;
    align-self: center;
}

/* PROFILE */
.profile-container .header{
    background-image: linear-gradient(rgb(15, 45, 218), rgb(10, 88, 255));
    padding: 2em;
    border-radius: 0 0 2em 2em;
}

.profile-container .balance{
    padding-top: 0;
    padding-bottom: 0;
    font-weight: 700;
}

.profile-container .badge{
    font-size: 8pt;
    border-radius: 3em;
    background: rgba(255, 255, 255, 0.295);
    color: #fff;
}

.profile-container .activities-section{
    display: flex;
    justify-content: space-around;
    padding-top: 2em;
}

.profile-container .activities-section a span{
    display: block;
    color: rgb(206, 202, 202);
    text-align: center;
    font-size: 8pt;
    font-weight: 600;
    margin-top: .5em;
}

.profile-container .activities-section a{
    text-align: center;
}

.profile-container .activities-section a i{
    border-radius: 50%;
    padding: .4em;
    color: #fff;
    font-weight: 800;
    font-size: 12pt;
    background-color: rgba(255, 255, 255, 0.274);
}

.profile-container .body{
    background: #fff;
    padding: 2em;
}

.profile-container .body .level-section{
    width: 100%;
}

.profile-container .body .level-section .level{
    background: #ccc;
    position: relative;
    width: 100%;
    height: 5px;
    border-radius: 2px;
}

.profile-container .body .level-section .level .fill{
    background:rgb(10, 88, 255);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width :0;
    border-radius: 2px;
}

.fw-700{
    font-weight: 700;
}

.text-16{
    font-size: 16pt;;
}

.text-10{
    font-size: 10pt;
}

.text-12{
    font-size: 12pt;
}

.text-8{
    font-size: 8pt;
}
.btn-sm{
    font-size: 8pt;
}

.btn-sm i{
    font-size: 8pt;
}

.cryptos, .admin-users{
    border: none;
}

.cryptos .material-icons{
    border-radius: 50%;
    margin-left: 10px;
    font-size: 10pt;
}
.cryptos span{
    position: relative;
    top: 20px;
}
.cryptos img{
    max-width: 200px;
    position: relative;
    top: 20px;
}

.cryptos .collection-item, .admin-users .collection-item{
    border: none;
    box-shadow: 0 0 20px rgba(150, 150, 150, 0.2);
    margin: 2em auto;
    /* border-radius: 4em; */
    border-left: 3px solid #9e9e9e;
}

.admin-users i{
    font-size: 10pt;
}

/* Profile */

.dashboard-side{
    min-height: 100vh;
    background-color: rgba(9, 21, 87,.8);
}

.dashboard-side .card{
    background:rgba(9, 21, 87,.9);
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    padding: 1em;
}



.dashboard-side .package-title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
}

.dashboard-side .card *{
    color: #fff;

}

.dashboard-side .card.account-detail{
    padding: 1em;
    margin-top: 1em;
}
.dashboard-side .card.account-detail h4{
    font-size: 16pt;
    font-weight: 700;
}

.trx-earning{
    font-weight: 700;
    color: #fff;
    width: 100%;
}

.dashboard-main .head{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.dashboard-main .head .card{
    width: 20%;
    margin-bottom: 0;
    box-shadow: rgb(206, 202, 202);
}

.dashboard-main .head .card .card-body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.dashboard-main .head .card .card-body .earnings{
    width: 70%;
    padding: .3em;
}

.dashboard-main .head .card .card-body .earnings h6{
    font-weight: 700;
}

.dashboard-main .head .card .card-body .footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: .6em;
    /* padding-right: .3em; */
}

.dashboard-main .head .card .icon-wrapper{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 20%;
    padding: .5em;
}

.dashboard-main .head .card .icon-wrapper i{
    /* font-size: 2rem; */
}

.shipping-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2em;
}

.shipping-section > div{
    width: 20%;
}
.shipping-section h1{
    font-weight: 600;
    font-size: 16pt;
    margin-bottom: -10px;
}
.shipping-section i{
    position: relative;
    top: 5px;
}

.dashboard-main .packages{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0 0 10px rgb(206, 202, 202);
    min-height: 70vh;
}

.dashboard-main .packages .package{
    width: 18%;
    box-shadow: 0 0 10px rgba(200,200,200,.5);
    background:rgba(9, 21, 87,.9);
    padding: 1em;
    margin-top: 2em;
}

.dashboard-main .packages .package *{
    color: #fff;
}

.dashboard-main .package .package-head{
    text-align: center;
}

@media screen and (max-width: 700px){

    .p-sm-{
        padding: 1em;
    }
    .p-sm-2{
        padding: 2em;
    }
    .p-sm-3{
        padding: 3em;
    }
    .p-sm-4{
        padding: 4em;
    }
    nav{
        position: fixed; 
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1000;
    }
    .shipping-section{
        flex-direction: column;
        padding: 0;
    }

    .shipping-section > div{
        width: 100%;
    }

    .shipping-section *{
        text-align: center;
    }

    

    footer{
        padding: 0;
    }

    .py-sm-12{
        margin-top: 3em;
    }
    
    .admin-users .btn{
       position: relative;
    }

    .dashboard-main .head{
        flex-direction: column;
    }

    .dashboard-main .head .card{
        width: 100%;;
    }
}

/* Large Screen */
@media screen and (min-width: 700px){
    .dashboard-container{
        margin-top: 0 !important;
    }
    .p-lg-5{
        padding: 5em; 
    }
    .p-lg-4{
        padding: 4em; 
    }
    .p-lg-3{
        padding: 3em; 
    }
    .p-lg-2{
        padding: 2em; 
    }
    .p-lg-1{
        padding: 1em; 
    }
}